body {
    background-color: rgb(37, 50, 58);
    color: azure;
    font-family: sans-serif;
}
table {
    border: 2px solid rgb(223, 223, 223);
}
th, td {
    border: 1px solid rgb(124, 124, 124);
}